* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 15px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: gray;
    max-width: 100vw;
}

h4 {
    font-size: 1.2rem;
}



.movie {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: rgb(161, 43, 43);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.719);
    overflow: hidden;
    position: relative;
}

.movie img {
    max-width: 100%;
    transform-origin: center;
}

 img:hover{
    --img-scale: 1.5;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 36px 0px;
    transform: scale(var(--img-scale));
    transition: transform 0.5s ease-in-out;
    
}

.info {
    display: flex;
    justify-content: center;
    padding: 1rem;
    color: white;
    overflow: hidden;
}

.info h4 {
    color: white;
}


@media screen and (max-width:1200px) {

    h4 {
        font-size: 1rem;
    }
}


@media screen and (max-width:650px) {
    h4 {
        font-size: 1rem;
    }

}