.navigation {
    font-size: 20px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: left;
    width: 100%;
}


.btn {
    align-items: center;
    border: 0;
    color: black;
    border-radius: 6px;
    cursor: pointer;
    height: 48px;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 18px;
}

.btn.active {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    background-image: radial-gradient(100% 100% at 100% 0, #4d5779 0, #a2acf6 100%);
    color: white;
}

.btn:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    background-image: radial-gradient(100% 100% at 100% 0, #4d5779 0, #a2acf6 100%);
    transform: translateY(-2px);
    color: white;
}

.cards {
    margin-top: 10px;
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 24px;
    margin-right: auto;
    margin-left: auto;
}
@media screen and (min-width: 600px) {
    .cards {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); 
    }
}

.searchBarBox{
    margin-top: 50px;
    margin-bottom: 50px;
}
.searchBar{
    margin-bottom: 20px;
    width: 100%;
    height: 30px;
}

.searchBar input{
    width: 100%;
    border-radius: 10px;
}


.HomeLink {
    text-decoration: none;
  }