*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    font-size: 15px;
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: gray;
    max-width: 100vw;

}




.navigation {
    font-size: 20px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: left;
    width: 100%;
    background: #252b3e;
    justify-content: center;
    padding-top:20px ;
    padding-bottom:20px ;
    border-bottom: 3px solid red;
}


.btn {
    align-items: center;
    border: 0;
    color: black;
    border-radius: 6px;
    cursor: pointer;
    height: 48px;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 18px;
}

.btn.active {
    box-shadow: #7d043c 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0, rgba(45, 35, 66, .3) 0 7px 13px -3px, #b70303 0 -3px 0 inset;
    background-image: radial-gradient(100% 100% at 100% 0, #550613 0, #c20303 100%);
    color: white;
    transform: scale(1.2);
}

.btn:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #ac0000 0 -3px 0 inset;
    background-image: radial-gradient(100% 100% at 100% 0, #550613 0, #c20303 100%);
    transform: translateY(-7px);
    color: white;
}


.searchBarBox{
    margin-top: 50px;
    margin-bottom: 50px;
}
.searchBar{
    margin-bottom: 20px;
    width: 100%;
    height: 30px;
}

.searchBar input{
    width: 100%;
    border-radius: 10px;
    height: 30px;
}


.HomeLink {
    text-decoration: none;
  }

h1,h2,h3,h4,h5{
    color: black;
    line-height: 1.2;
}

h1{
    font-size: 3.8rem;
}

h3{
    font-size: 1.6rem;
}


.section{
    max-width: 100%;
    overflow-x: hidden;
    padding: 2rem 0 5rem;
}

.container{
    width: 80%;
    margin: 0 auto;
}

::-webkit-scrollbar{
    background: white;
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background: rgb(255, 255, 255);
}




.landing{
    background: url('../utils/images/background2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
}
.cover{
    background: rgba(0, 0, 0, 0.623);
    max-height: 280px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10rem 0 7rem;
}
.cover h1{
    color: white;
}

.movies{
        max-width: 100%;
        overflow-x: hidden;
        padding: 10rem 0 7rem;
}





.brows{
    padding-top: 2rem;
    padding-bottom: 5rem;
    background: #252b3e;
}

.brows .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.formInput{
    width: 100%;
}

.container h3{
    color: white;
}


 input{
    padding: 1rem;
    background: rgba(255, 255, 255, 0.322);
    width: 100%;
    
}

.formInput input::placeholder{
    color: white;
}

.formInput input:focus{
    background: white;
    color: black;
}



section.movies{
    background: #131722;
    
}

section.movies .container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}

section.movies .container .movie{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: rgb(161, 43, 43);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.719);
    overflow: hidden;
    position: relative;
}


section.movies .container .movie img{
   max-width: 100%;
}



 .info h4{
    color: white;
}



@media screen and (max-width:1200px){
    h1{
        font-size: 2.2rem;
    }
    h2{
        font-size: 1.6rem;
    }
    h3{
        font-size: 1.2rem;
    }
    h4{
        font-size: 1rem;
    }
    h5{
        font-size: 0.68rem;
    }

    section.movies .container{
        grid-template-columns: repeat(3,1fr);
    }

    .formInput{
        width: 100%;
    }

}


@media screen and (max-width:620px){
    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1.6rem;
    }
    h3{
        font-size: 1.2rem;
    }
    h4{
        font-size: 1rem;
    }
    h5{
        font-size: 0.68rem;
    }

    section.movies .container{
        grid-template-columns: repeat(1,1fr);
    }

    section.brows .container{
        width: 95%;
    }

    section.brows .container form{
        width: 100%;
        grid-template-columns: 80% auto;
    }
}